header {
  position: relative;
  width: 100%;

  background: black;
  /* background: rgb(38, 37, 37); */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img {
  width: 100px;
  margin-left: 10px;
  border-radius: 20px;
}
i {
  font-size: 70px;
  margin-right: 20px;
}
h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 90px;
  padding: 5px 5px 0px 5px;
  border-bottom: 5px solid white;
}

nav {
  width: 100%;
  height: 50px;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  text-decoration: none;
}
a {
  padding: 5px 10px;
  border: 2px solid white;
  color: white;
  font-family: "Bebas Neue", cursive;
  border-radius: 5px;
  text-decoration: none;
}
a:hover {
  border-color: rgb(0, 255, 0);
}
.active {
  background: rgb(103, 13, 103);
}
ul {
  display: flex;
  list-style-type: none;
}
