body {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
main {
  color: white;
  background: black;
  margin-top: 40px;
  padding: 20px;
  width: 60%;
  border: 5px solid white;
  border-radius: 20px;
}
.contributorContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 5px;
  background: white;
}
h2 {
  font-family: "Bebas Neue", cursive;
}
p {
  font-family: "Poppins", sans-serif;
  text-indent: 10px;
}
